/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin: auto;
    color: #444;

    background-image: url("fundo-futurista-de-tecnologia-gradiente.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Container central */
.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/*Titulos da pagina*/
h1 {
    background: linear-gradient(90deg, #4F46E5, #7C3AED);
    color: #FFFFFF;
    text-align: center;
    font-size: 46px;
    padding: 20px;
    margin-bottom: 0;
    border-radius: 8px;
    letter-spacing: 1px;
}

h2 {
    color: #1e293b;
    background-color: #818cf8;
    font-size: 32px;
    border-left: 6px solid #6366f1;
    padding: 12px 16px;
    margin-top: 48px;
    margin-bottom: 12px;
    border-radius: 4px;
}

/* Parágrafos e linhas divisorias  */
p {
    margin-bottom: 14px;
    color: #e2e8f0;
    font-size: 18px;
    line-height: 1.6;
}

hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #e5e7eb;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 25px;
    }

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.1rem;
    }
}